{% extends 'layouts/application.html' %}

{% block content %}
  <header class="l-header" role="banner">
    <nav class="l-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>
  </header>
  <div class="l-page">
    <main class="l-main" role="main">
    Main
    </main>
    <aside class="l-sidebar" role="complementary">
      Sidebar
    </aside>
  </div>
  <footer class="l-footer" role="contentinfo">
    Footer
  </footer>
{% endblock %}
